.formGroup {
  position: relative;
}

.label {
  position: absolute;
  color: slategray;
  font-size: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: 150ms;
}
.input {
  padding: 15px 15px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  font-size: 20px;
}

.input::placeholder {
  opacity: 0;
  transition: 150ms;
  color: slategray;
}

.input:focus {
  border-color: slateblue;
}

.input:focus + .label {
  transform: translateY(-150%);
  font-size: 13px;
  color: slateblue;
}

.input:focus::placeholder {
  opacity: 1;
}
